.status {
  width: 100%;
  background: #fafafa;
  padding: 20px 20px 20px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  margin-bottom: 20px;

  select {
    border: 1px solid #c4c4c4;
    padding: 5px 5px;
    display: block;
    width: 100%;
    outline: none;
  }
}