.heading {
  color: #3a3a3a;
  font-weight: 500;
  font-size: 50px;
  line-height: 1em;
  a {
    text-decoration: none;
    color: #3a3a3a;
  }

  &.large {
    font-size: 50px;
  }
  &.medium {
    font-size: 30px;
  }

  &.small {
    font-size: 20px;
  }

  &__wrapper {
    display: flex;
  }

  &__icon {
    flex: none;
  }

  &__content {
    flex-grow: 1;
  }
}