.button {
  color: white;
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  line-height: 16px;
  font-size: 16px;
  transition: all .3s;
  text-decoration: none;
  &.primary {
    background-color: #82b541;
    &:hover {
      background-color: lighten(#82b541, 10);
    }
  }

  &.warning {
    color: #76161f;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-weight: normal;
    font-size: 12px;
    padding: 5px 7px;
    &:hover {
      background-color: darken(#f5c6cb, 10);
    }
  }
}